<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cocktail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css" type="text/css">
</head>
<body>
  <% if (locals.data){ %>

  <h1><%= data.name %></h1>
  <h3><%= data.alchohol %> </h3>
   <div class="card">
     <p>
       <%= data.instruction %>
     </p>
   </div>
   <p class="user"> Category: <%= data.category %></p>
   <p class="user"> Ingredients:</p>
   <ol class="user">
    <li><%= data.ingredient1 %></li>
    <li><%= data.ingredient2 %></li>
    <li><%= data.ingredient3 %></li>
   </ol>
   <% } else { %>
     <h1>Welcome to the Random Cocktail Recipe</h1>
  <% } %> 
</body>
</html>